body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    margin: 0;
}

.quiz-container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    background-color: #4CAF50;
    color: white;
    border: none;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #45a049;
}

.score {
    margin-top: 20px;
    font-size: 18px;
}

#next-btn {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}
